body{
    font-family: 'Nunito', sans-serif;
    background-color: pink;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

img{
    height: max-content;
}

nav{
    z-index: 1;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #dc3545;
}